@page "/admin/coach/edit/{id}"

<h3>Edit Coach</h3>

<EditForm Model="editInput" OnValidSubmit="Edit" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />

    <div class="form-group row">
        <label for="fullname" class="col-md-2 col-form-label">Name</label>
        <div class="col-md-10">
            <InputText id="fullname" class="form-control" @bind-Value="editInput.FullName" />
            <ValidationMessage For="@(() => editInput.FullName)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="imageurl" class="col-md-2 col-form-label">Image URL</label>
        <div class="col-md-10">
            <InputText id="imageurl" class="form-control" @bind-Value="editInput.ImageUrl" />
            <ValidationMessage For="@(() => editInput.ImageUrl)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="company" class="col-md-2 col-form-label">Company</label>
        <div class="col-md-10">
            <InputText id="company" class="form-control" @bind-Value="editInput.Company" />
            <ValidationMessage For="@(() => editInput.Company)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="pricepersession" class="col-md-2 col-form-label">Price per Session</label>
        <div class="col-md-10">
            <InputNumber id="pricepersession" class="form-control" @bind-Value="editInput.PricePerSession" />
            <ValidationMessage For="@(() => editInput.PricePerSession)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="CategoryId" class="col-md-2 col-form-label">Category</label>
        <div class="col-md-10">
            <InputSelect id="categoryId" class="form-control" @bind-Value="editInput.CategoryId">
                <option>@editInput.CategoryName</option>
                @foreach (var category in CategoriesInDb)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => editInput.CategoryId)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Edit Coach</button>
        </div>
    </div>
</EditForm>
