@using UpSkill.Infrastructure.Models.Coaches
<div class="card custom-coach-card container mb-5" style="width: 18rem;">
    <img class="card-img-top img-background" src="/images/coach.png" alt="Card image cap">
    <div class="card-body">
        <div class="row">
            <div class="coach-profession col-6">
                @Coach.CategoryName
            </div>
            <div class="coach-name col-6 text-right">
                @Coach.FullName
            </div>
        </div>
        <div class="row">
            <div class="coah-price col-6">
                @Coach.PricePerSession.ToString("####")€ per person
            </div>
            <div class="col-6 text-right">
                <img class="coach-company-logo" src="@Coach.CompanyLogoUrl" />
            </div>
        </div>
        @if (user.IsAuthenticated().Result)
        {
            <div class="text-center">
                <button @onclick="@(() =>AddCoach(Coach.Id, OwnerId))" class="coach-btn"><span class="coach-btn-text">Add</span></button>
            </div>
        }
    </div>
</div>


@code {

    [Parameter]
    public CoachInListCatalogModel Coach { get; set; }

    [Parameter]
    public string OwnerId { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }

    private async Task AddCoach(string coachId, string ownerId)
    {

        await Client.PostAsJsonAsync($"/Coaches/AddCoachInOwnerCoachesCollectionAsync?coachId={coachId}&ownerId={ownerId}", string.Empty);

    }
}
