@page "/registration"
@layout EmptyLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

@if (ShowErrors)
{
    @foreach (var error in Errors)
    {
        ToastService.ShowError(error);
    }

    ShowErrors = false;
}

<div class="wrapper">

    <div class="row" style="margin-right: unset">
        <div class="col-md-7 images">
            <div class="img-background">
                <img class="img-decoration" src="/images/registrationPage/clipart.svg" />
            </div>
        </div>

        <div class="col d-flex flex-column justify-content-center">

            <div class="brand">
                <img class="img-logo" src="/images/registrationPage/logo.svg" />
            </div>

            <div class="input_group mx-auto">
                <EditForm Model="userForRegistration" OnValidSubmit="Register" class="">
                    <DataAnnotationsValidator />

                    <div class=" row">
                        <div class="col-md-10">
                            <InputText id="fullname" class="input_form" placeholder="FullName*" @bind-Value="userForRegistration.FullName" />
                            <ValidationMessage For="@(() => userForRegistration.FullName)" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <InputText id="email" class="input_form" placeholder="Email*" @bind-Value="userForRegistration.Email" />
                            <ValidationMessage For="@(() => userForRegistration.Email)" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <InputText id="companyname" class="input_form" placeholder="Company name*" @bind-Value="userForRegistration.CompanyName" />
                            <ValidationMessage For="@(() => userForRegistration.CompanyName)" />
                        </div>
                    </div>


                    <div class=" row">
                        <div class="col-md-10">
                            <InputText type="password" id="password" class="input_form" placeholder="Password*" @bind-Value="userForRegistration.Password" />
                            <ValidationMessage For="@(() => userForRegistration.Password)" />
                        </div>
                    </div>

                    <div class=" row">
                        <div class="col-md-10">
                            <InputText type="password" id="confirm" class="input_form" placeholder="Confirm Password*" @bind-Value="userForRegistration.ConfirmPassword" />
                            <ValidationMessage For="@(() => userForRegistration.ConfirmPassword)" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="button_logout">SignUp</button>
                        </div>
                    </div>
                </EditForm>

            </div>

            <div>
                Already have an account? <NavLink class="navigation" href="LogIn">LogIn here.</NavLink>
            </div>

        </div>
    </div>
</div>

