<div class="gridCol" id="lectureInfoHolder">
    <h3 id="mainHL">@Lecture.Title</h3>
    <iframe width="660"
            height="315"
            src="@Lecture.VideoUrl"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer;
                   autoplay;
                   clipboard-write;
                   encrypted-media;
                   gyroscope;
                   picture-in-picture" allowfullscreen>
    </iframe>

    <div class="my-5 courseInfoPar">
        <h6>Lecture Description</h6>
        <p>
            @Lecture.Description
        </p>
    </div>

    <div id="instructor-info">
        <h6>Instructor</h6>
        <div class="avatar-container">
            <i class="avatar"></i>
            <div class="creator">
                <div>
                    Created by
                </div>
                <div style="font-weight: bold;">
                    @CourseModel.AuthorFullName
                </div>
                <div class="company">
                    <img src="@CourseModel.AuthorCompanyLogoUrl"
                         width="60" height="30" />
                </div>
            </div>
        </div>
        <p>
            Charles Du led the design of NASA’s first iPhone app
            (10+ million downloads, 2+ million hits per day, NASA’s Software of
            the Year Award) and co-founded the Airbnb for cars. He is an
            award-winning product manager, UX designer, lecturer, and international
            keynote speaker.
        </p>
    </div>

</div>

@code {
    [Parameter]
    public CourseWatchDetailsModel CourseModel { get; set; }

    [Parameter]
    public LectureDetailsModel Lecture { get; set; }
}