@page "/adminCourse"
@layout AdminLayout

<h3>Create Course</h3>

<EditForm Model="courseInput" OnValidSubmit="Create" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">Name</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="courseInput.Name" />
            <ValidationMessage For="@(() => courseInput.Name)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label">Description</label>
        <div class="col-md-10">
            <InputText id="description" class="form-control" @bind-Value="courseInput.Description" />
            <ValidationMessage For="@(() => courseInput.Description)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="imageurl" class="col-md-2 col-form-label">Image URL</label>
        <div class="col-md-10">
            <InputText id="imageurl" class="form-control" @bind-Value="courseInput.ImageUrl" />
            <ValidationMessage For="@(() => courseInput.ImageUrl)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="CategoryId" class="col-md-2 col-form-label">Category</label>
        <div class="col-md-10">
            <InputSelect id="categoryId" class="form-control" @bind-Value="courseInput.CategoryId">
                <option>---Select Category---</option>
                @foreach (var category in CategoriesInDb)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => courseInput.CategoryId)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="LanguageId" class="col-md-2 col-form-label">Language</label>
        <div class="col-md-10">
            <InputSelect id="languageId" class="form-control" @bind-Value="courseInput.LanguageId">
                <option>---Select Language---</option>
                @foreach (var language in LanguagesInDb)
                {
                    <option value="@language.Id">@language.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => courseInput.LanguageId)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="@courseInput.AuthorFullName" class="col-md-2 col-form-label">Author Full Name</label>
        <div class="col-md-10">
            <InputText id="authorfullname" class="form-control" @bind-Value="courseInput.AuthorFullName" />
            <ValidationMessage For="@(() => courseInput.AuthorFullName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="@courseInput.CompanyLogoUrl" class="col-md-2 col-form-label">Author Company Logo URL</label>
        <div class="col-md-10">
            <InputText id="authorcompany" class="form-control" @bind-Value="courseInput.CompanyLogoUrl" />
            <ValidationMessage For="@(() => courseInput.CompanyLogoUrl)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="@courseInput.Price" class="col-md-2 col-form-label">Price</label>
        <div class="col-md-10">
            <InputNumber id="price" class="form-control" @bind-Value="courseInput.Price" />
            <ValidationMessage For="@(() => courseInput.Price)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="@courseInput.VideoUrl" class="col-md-2 col-form-label">Video URL</label>
        <div class="col-md-10">
            <InputText id="videourl" class="form-control" @bind-Value="courseInput.VideoUrl" />
            <ValidationMessage For="@(() => courseInput.VideoUrl)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Create Course</button>
        </div>
    </div>
</EditForm>

@code {

}
