@page "/adminCoach"
@layout AdminLayout

<h3>Create Coach</h3>

<EditForm Model="coachInput" OnValidSubmit="Create" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="fullName" class="col-md-2 col-form-label">Full Name</label>
        <div class="col-md-10">
            <InputText id="fullName" class="form-control" @bind-Value="coachInput.FullName" />
            <ValidationMessage For="@(() => coachInput.FullName)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="avatarimgurl" class="col-md-2 col-form-label">Avatar URL</label>
        <div class="col-md-10">
            <InputText id="avatarimgurl" class="form-control" @bind-Value="coachInput.AvatarImgUrl" />
            <ValidationMessage For="@(() => coachInput.AvatarImgUrl)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label">Email</label>
        <div class="col-md-10">
            <InputText id="email" class="form-control" @bind-Value="coachInput.Email" />
            <ValidationMessage For="@(() => coachInput.Email)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="company" class="col-md-2 col-form-label">Company</label>
        <div class="col-md-10">
            <InputText id="company" class="form-control" @bind-Value="coachInput.Company" />
            <ValidationMessage For="@(() => coachInput.Company)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="companylogourl" class="col-md-2 col-form-label">Company Logo URL</label>
        <div class="col-md-10">
            <InputText id="companylogourl" class="form-control" @bind-Value="coachInput.CompanyLogoUrl" />
            <ValidationMessage For="@(() => coachInput.CompanyLogoUrl)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="pricepersession" class="col-md-2 col-form-label">Price per Session</label>
        <div class="col-md-10">
            <InputNumber id="pricepersession" class="form-control" @bind-Value="coachInput.PricePerSession" />
            <ValidationMessage For="@(() => coachInput.PricePerSession)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="calendlypopupurl" class="col-md-2 col-form-label">Calendly URL</label>
        <div class="col-md-10">
            <InputText id="calendlypopupurl" class="form-control" @bind-Value="coachInput.CalendlyPopupUrl" />
            <ValidationMessage For="@(() => coachInput.CalendlyPopupUrl)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="CategoryId" class="col-md-2 col-form-label">Category</label>
        <div class="col-md-10">
            <InputSelect id="categoryId" class="form-control" @bind-Value="coachInput.CategoryId">
                <option>---Select Category---</option>
                @foreach (var category in CategoriesInDb)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => coachInput.CategoryId)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="languageid" class="col-md-2 col-form-label">Languages</label>
        <div class="col-md-10">
            <InputSelect id="languageid" class="form-control" @bind-Value="coachInput.LanguageId">
                <option>---Select Languages---</option>
                @foreach (var language in LanguagesInDb)
                {
                    <option value="@language.Id">@language.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => coachInput.LanguageId)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="sessiondescription" class="col-md-2 col-form-label">Session Description</label>
        <div class="col-md-10">
            <InputText id="sessiondescription" class="form-control" @bind-Value="coachInput.SessionDescription" />
            <ValidationMessage For="@(() => coachInput.SessionDescription)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="skillslearn" class="col-md-2 col-form-label">Skills To Learn</label>
        <div class="col-md-10">
            <InputText id="skillslearn" class="form-control" @bind-Value="coachInput.SkillsLearn" />
            <ValidationMessage For="@(() => coachInput.SkillsLearn)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="discussionduration" class="col-md-2 col-form-label">Discussion Duration in Min</label>
        <div class="col-md-10">
            <InputText id="discussionduration" class="form-control" @bind-Value="coachInput.DiscussionDurationInMin" />
            <ValidationMessage For="@(() => coachInput.DiscussionDurationInMin)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="resourcescount" class="col-md-2 col-form-label">Resources Count</label>
        <div class="col-md-10">
            <InputText id="resourcescount" class="form-control" @bind-Value="coachInput.ResourcesCount" />
            <ValidationMessage For="@(() => coachInput.ResourcesCount)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Create Coach</button>
        </div>
    </div>
</EditForm>

@code {
  
}
