@page "/Dashboard"
@using System.Security.Claims
@using UpSkill.ClientSide.Infrastructure.Extensions

<h3>Dashboard</h3>
<div>
    User Role: @user.Role().Result;
    <br />
    Username: @user.Name().Result;
    <br />

    CompanyId: @user.Company().Result;
    <br />

    Email: @user.Email().Result;
    <br />
    User is authenticated: @user.IsAuthenticated().Result;

    <br />
    <br />
    <br />




</div>

<OwnerDashboardStatistics></OwnerDashboardStatistics>
<CoursesDashboardTable></CoursesDashboardTable>
<CoachesDashboardTable></CoachesDashboardTable>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> user { get; set; }
}
