@page "/registration"

@if (ShowRegistrationErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}


<div class="wrapper">

    <div class="row">
        <div class="col">
            <div class="img-background">
                    <img class="img" src="/images/registrationPage/clipart.svg" />
            </div>

        </div>

        <div class="col">

            <div class="brand">
                <img src="/images/registrationPage/logo.svg" />
            </div>

            <div class="input">
              <EditForm Model="userForRegistration" OnValidSubmit="Register" class="input_group">
                <DataAnnotationsValidator />

                <div class=" row">
                    <div class="col-md-10">
                        <InputText id="fullname" class="input_form" placeholder="FullName*"  @bind-Value="userForRegistration.FullName" />
                        <ValidationMessage For="@(() => userForRegistration.FullName)" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <InputText id="email" class="input_form" placeholder="Email*" @bind-Value="userForRegistration.Email" />
                        <ValidationMessage For="@(() => userForRegistration.Email)" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <InputText id="companyname" class="input_form" placeholder="Company name*" @bind-Value="userForRegistration.CompanyName" />
                        <ValidationMessage For="@(() => userForRegistration.CompanyName)" />
                    </div>
                </div>


                <div class=" row">
                    <div class="col-md-10">
                        <InputText type="password" id="password" class="input_form" placeholder="Password*" @bind-Value="userForRegistration.Password" />
                        <ValidationMessage For="@(() => userForRegistration.Password)" />
                    </div>
                </div>

                <div class=" row">
                    <div class="col-md-10">
                        <InputText type="password" id="confirm" class="input_form" placeholder="Confirm Password*" @bind-Value="userForRegistration.ConfirmPassword" />
                        <ValidationMessage For="@(() => userForRegistration.ConfirmPassword)" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="">Register</button>
                    </div>
                </div>
            </EditForm>

            </div>

            <div>
                <p>
                    Already have an account? <NavLink class="navigation" href="LogIn">LogIn here.</NavLink>
                </p>
            </div>

        </div>
    </div>

</div>
